#what{
    display: none;
}

#is{
    display: none;
}

#your{
    display: none;
}

#favorite{
    display: none;
}

#color{
    display: none;
}







#question1{

height: 100px;
border-style: solid;
}