body {
 text-align: center;
 background-image:url('/img/mac2.jpg');
background-position: center;
background-repeat: no-repeat;
background-position-y: top;
}
form {
  
  margin: auto;
  padding-top: 15px;
  padding-left: 150px;
}



.container{
text-align: center;
padding: 0px;

background-position-x: -250px;
height: 850px;
}

#test{
  color: white;
}
#firstQuestion0{
  display: none;
}

#firstQuestion1{
  display: none;
}

#firstQuestion2{
  display: none;
}

#firstQuestion3{
  display: none;
}

#firstQuestion4{
  display: none;
}

#beverage{
  display: none;
}

.form-group{
  width: 200px;
 

 
}
#centerFirstQuestion{
 text-align: center;
margin-top: 200px;
 height: 800px;
 

 
}
.col-7{
  text-align: center;
}

#center2{
  top: 250px;
  width: 500px;
}

#results{
  margin-top:50px ;
  color: white;
}
