body {
  text-align: center;
  background-image: url("/mac2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-position-y: top;
}

form {
  margin: auto;
  padding-top: 15px;
  padding-left: 150px;
}

#submit{
  display: none;
}

#try{
  display: none;
}

.container{
  text-align: center;
  padding: 0px;
  background-position-x: -250px;
  height: 850px;
}

#text-center{
  text-align: center;
}

#one{
  display: none;
}

#two{
  display: none;
}

#three{
  display: none;
}

#four{
  display: none;
}

#five{
  display: none;
}

#question1{
  color: white;
  display: none;
}

#question2{
  color: white;
  display: none;
}

#question3{
  color: white;
  display: none;
}

#question4{
  color: white;
  display: none;
}

#question5{
  color: white;
  display: none;
}

#firstQuestion0{
  display: none;
}

#firstQuestion1{
  display: none;
}

#firstQuestion2{
  display: none;
}

#firstQuestion3{
  display: none;
}

#firstQuestion4{
  display: none;
}

#secondQuestion0{
  display: none;
}

#secondQuestion1{
  display: none;
}

#secondQuestion2{
  display: none;
}

#secondQuestion3{
  display: none;
}

#secondQuestion4{
  display: none;
}

#thirdQuestion0{
  display: none;
}

#thirdQuestion1{
  display: none;
}

#thirdQuestion2{
  display: none;
}

#thirdQuestion3{
  display: none;
}

#thirdQuestion4{
  display: none;
}

#fourthQuestion0{
  display: none;
}

#fourthQuestion1{
  display: none;
}

#fourthQuestion2{
  display: none;
}

#fourthQuestion3{
  display: none;
}

#fourthQuestion4{
  display: none;
}

#fifthQuestion0{
  display: none;
}

#fifthQuestion1{
  display: none;
}

#fifthQuestion2{
  display: none;
}

#fifthQuestion3{
  display: none;
}

#fifthQuestion4{
  display: none;
}

#form-group1{
  display: none;
  
}
#beverage{
  box-shadow: inset 0 0 10px #000000;
}

#form-group2{
  display: none;
}
#movie{
  box-shadow: inset 0 0 10px #000000;
}

#form-group3{
  display: none;
}
#animal{
  box-shadow: inset 0 0 10px #000000;
}

#form-group4{
  display: none;
}
#color{
  box-shadow: inset 0 0 10px #000000;
}

#form-group5{
  display: none;
}

#music{
  box-shadow: inset 0 0 10px #000000;
}

.form-group{
  width: 200px;
 }
 .form-group1{
  width: 200px;
 }

#centerFirst{
  text-align: center;
  margin-top: 200px;
  height: 800px;
}

.col-7{
  text-align: center;
}

#center2{
  top: 250px;
  width: 500px;
}

#results{
  margin-top:50px ;
  color: white;
}


#youPicked{
  color: white;

}